# Arquivo: .gitignore

# Banco de Dados
db_data/

# Dependências do PHP
vendor/

# Logs e arquivos temporários
*.log
.DS_Store

# Configurações de ambiente com senhas
.env

#Arquivos do docker
Dockerfile
docker-compose.yml
